
.about-paragaph {
  margin-left: 100px;
}

ul {
    list-style-type: none;
    display: inline-block;
}
.faceCard {
    margin-top: 35px;
    height: 150px;
}
  
/*     position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
      }

.caption {
    padding: 5% 10% 15%;
    text-align: center;


}

.intro {
    text-align: left;
}

.name {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 600;
    line-height: 54px;
    margin: 3px 0;
}

a:link#link {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    font-size: small;
}*/

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.creators {
  margin-top: 90px;
  margin-left: 100px;
}

.bios{
    height: 100 px;
    width: auto;
    display: flex;

}

.tellMeMore {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 600px;
    max-width: 350px;

    margin: auto;
    text-align: center; */
    /* font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    line-height: 1.4em;
    background-color: #141414; */
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
  }

  .tellmemore * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .name {
    margin: 10px;
    color: grey;
  
  /* button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  } */

    font-size: 21px;
  }
  

  a {
    text-decoration: none;
    font-size: 14px;

  }
  
 .aboutParagaph {
   text-align: left;
   font-size: 10pt;
   margin: 25px;;
 color: black;
 }